BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
VOLTAGE 3.300 V ;

#
# Driver Types
#
IOBUF PORT "RST_N" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "SCLK" IO_TYPE=LVCMOS33 ;
IOBUF PORT "SCSN" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "MISO" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "MOSI" IO_TYPE=LVCMOS33 PULLMODE=UP ;
IOBUF PORT "DEBUG[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "DEBUG[5]" IO_TYPE=LVCMOS33 ;

#
# Pin Locations
#
LOCATE COMP "RST_N" SITE "13" ;
LOCATE COMP "SCSN" SITE "14" ;
LOCATE COMP "DEBUG[0]" SITE "5" ;
LOCATE COMP "DEBUG[1]" SITE "20" ;
LOCATE COMP "DEBUG[2]" SITE "21" ;
LOCATE COMP "DEBUG[3]" SITE "12" ;
LOCATE COMP "DEBUG[4]" SITE "11" ;
LOCATE COMP "DEBUG[5]" SITE "4" ;
